@model Employee

<div class="container mt-4">
    <h2>Edit Employee</h2>
    <form asp-action="Edit" method="post" class="mt-5">
        <input type="hidden" asp-for="Employee_ID" /> <!-- 숨겨진 필드로 ID 전송 -->

        <div class="mb-3">
            <label asp-for="Employee_Name" class="form-label fs-4"></label>
            <input asp-for="Employee_Name" class="form-control fs-4" />
            <span asp-validation-for="Employee_Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Employee_DoB" class="form-label fs-4"></label>
            <input asp-for="Employee_DoB" class="form-control fs-4" type="date" />
            <span asp-validation-for="Employee_DoB" class="text-danger"></span>
        </div>

        <div class="mb-3 fs-4">
            <label asp-for="Employee_Gender" class="form-label"></label>
            <select asp-for="Employee_Gender" class="form-control">
                <option value="Male" selected="@Model.Employee_Gender == " Male"">Male</option>
                <option value="Female" selected="@Model.Employee_Gender == " Female"">Female</option>
                <option value="Other" selected="@Model.Employee_Gender == " Other"">Other</option>
            </select>
            <span asp-validation-for="Employee_Gender" class="text-danger"></span>
        </div>

        <div class="mb-3 fs-4">
            <label asp-for="Employee_Phone" class="form-label"></label>
            <input asp-for="Employee_Phone" class="form-control fs-4" />
            <span asp-validation-for="Employee_Phone" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Employee_Email" class="form-label fs-4"></label>
            <input asp-for="Employee_Email" class="form-control fs-4" />
            <span asp-validation-for="Employee_Email" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary w-100 fs-4 fw-bold mt-5">Save Changes</button>
    </form>
</div>

