<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UrbanShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UrbanShop.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="custom-container">
            <h1><a class="custom-logo" asp-controller="Home" asp-action="Index">URBANSHOP</a></h1>
            <div>
                <ul class="custom-container custom-nav-item">
                    <li><a class="custom-nav-link text-danger fw-bold" href="#">SALE</a></li>
                    <li><a class="custom-nav-link text-black fw-bold" href="#">SALE</a></li>
                    <li><a class="custom-nav-link text-black" href="#">MEN</a></li>
                    <li><a class="custom-nav-link text-black" href="#">WOMEN</a></li>
                    <li><a class="custom-nav-link text-black" href="#">KIDS</a></li>
                    <li><a class="custom-nav-link text-black" href="#">SHOES</a></li>
                    <li><a class="custom-nav-link text-black" href="#">ACCESSORY</a></li>
                </ul>
            </div>
        </div>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
