@model IEnumerable<ToDoApp.Models.ToDo>
@{
    ViewData["Title"] = "Tasks List";
}

<h1>Task List</h1>

@if(!Model.Any()) {
    <p>No tasks available</p>
} else {
    <table class="table">
        <thead>
            <tr>
                <th>Task Name</th>
                <th>Is Complted?</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var task in Model) {
                <tr>
                    <td>@task.TaskName</td>
                    <td>@(task.IsCompleted ? "Yes" : "No")</td>
                </tr>
            }
        </tbody>
    </table>
}