@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid d-flex justify-content-center">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" style="width: 90%;">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/images/banner.webp" class="d-block w-100" alt="blackfriday sale">
            </div>
        </div>
    </div>
</div>


