<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UrbanShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UrbanShop.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/custom.css" />
</head>
<body>
    <header>
        <!-- Nav -->
        <nav class="navbar navbar-expand-lg bg-white">
            <!-- Logo -->
            <div class="container d-flex flex-column align-items-center pt-lg-4">
                <div class="container d-flex align-items-center justify-content-between position-relative">
                    <a class="navbar-brand mx-auto text-dark fw-bold position-absolute start-50 translate-middle-x" style="letter-spacing: 10px;">
                        URBAN SHOP
                    </a>

                    <!-- Toggle -->
                    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>

                <!-- Nav Items -->
                <div class="collapse navbar-collapse justify-content-center pt-4" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item  m-1 mx-3">
                            <a class="nav-link fw-bold" style="color:red;" href="#">Sale</a>
                        </li>
                        <li class="nav-item m-1 mx-3">
                            <a class="nav-link fw-bold" style="color: blue" href="#">New</a>
                        </li>
                        <li class="nav-item m-1 mx-3">
                            <a class="nav-link text-black" href="#">Girl</a>
                        </li>
                        <li class="nav-item m-1 mx-3">
                            <a class="nav-link text-black" href="#">Man</a>
                        </li>
                        <li class="nav-item m-1 mx-3">
                            <a class="nav-link text-black" href="#">Jeans</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Main Body -->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
    <footer class="border-top footer text-muted pb-5">
        <div class="container d-flex flex-sm-row justify-content-start">
            <div class="d-flex flex-column me-5 p-0">
                <p class="fw-bold p-0 m-0" style="color: black;">Company</p>
                <a class="footer-link text-decoration-none" style="color: #4b4d4e;" href="#">About Us</a>
                <a class="footer-link text-decoration-none" style="color: #4b4d4e;" href="#">Privacy Policy</a>
                <a class="footer-link text-decoration-none" style="color: #4b4d4e;" href="#">Terms Of Use</a>
            </div>

            <div class="d-flex flex-column me-5 p-0">
                <p class="fw-bold p-0 m-0" style="color: black;">Contact</p>
                <a class="footer-link text-decoration-none" style="color: #4b4d4e;"  href="#">Order Status</a>
                <a class="footer-link text-decoration-none" style="color: #4b4d4e;"  href="#">FAQs</a>
                <a class="footer-link text-decoration-none" style="color: #4b4d4e;"  href="#">Size Guide</a>
                <a class="footer-link text-decoration-none" style="color: #4b4d4e;" href="#">Shipping</a>
                <a class="footer-link text-decoration-none" style="color: #4b4d4e;" href="#">Return</a>
                <a class="footer-link text-decoration-none" style="color: #4b4d4e;" href="#">Contact Us</a>
            </div>

            <div class="d-flex flex-column me-5 p-0">
                <p class="fw-bold p-0 m-0" style="color: black;">SNS</p>
                <a class="footer-link text-decoration-none" style="color: #4b4d4e;" href="#">
                    <i class="bi bi-instagram"> Instagram</i>
                </a>
                <a class="footer-link text-decoration-none" style="color: #4b4d4e;" href="#">
                    <i class="bi bi-facebook"> Facebook</i>
                </a>
                <a class="footer-link text-decoration-none" style="color: #4b4d4e;" href="#">
                    <i class="bi bi-youtube"> Youtube</i>
                </a>
            </div>
        </div>
    </footer>

    <!-- Custom Style -->
    <style>
        .footer-link {
            font-size: 0.9rem;
            margin: 0; 
            padding: 0;
            line-height: 2; 
        }
    </style>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
