@{
    ViewData["Title"] = "Sign In | Urban Shop the best online store";
}

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="text-center col-md-6 col-lg-4">
        <h3 class="fw-bold mb-5 pb-4" style="font-size: 2.4rem;">Sign In</h3>

        <div class="form-floating mt-4">
            <input type="text" class="form-control" id="userAccount" placeholder=" " />
            <label for="userAccount"><i class="bi bi-person-circle"></i> User Account</label>
        </div>

        <div class="form-floating mt-3">
            <input type="text" class="form-control" id="userAccount" placeholder=" " />
            <label for="userAccount"><i class="bi bi-lock-fill"></i> Password</label>
        </div>

        <div class="mt-3 text-end">
            <a href="#" style="color: dimgray">Forgot password?</a>
        </div>

        <button type="submit" class="btn btn-dark w-100 mt-5">Submit</button>

        <p class="mt-3"> Don't have an account? </p>

        <a asp-controller="Auth" asp-action="SignUp" class="btn bg-white border-dark w-100 mt-2">Create Account</a>
    </div>
</div>

