@model LoginViewModel

@{
    ViewData["Title"] = "Sign In | Urban Shop the best online store";
}



<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="text-center col-md-6 col-lg-4">
        <h3 class="fw-bold mb-5 pb-4" style="font-size: 2.4rem;">Sign In</h3>

        <form asp-action="SignIn" method="post">
            <div class="form-floating mt-4">
                <input asp-for="User_Account" class="form-control" id="userAccount" placeholder="User Account" required />
                <label for="userAccount"><i class="bi bi-person-circle"></i> User Account</label>
                <span asp-validation-for="User_Account" class="text-danger"></span>
            </div>

            <div class="form-floating mt-3">
                <input asp-for="Password" type="password" class="form-control" id="password" placeholder="Password" required />
                <label for="password"><i class="bi bi-lock-fill"></i> Password</label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-dark w-100 mt-5">Submit</button>
        </form>
    </div>
</div>


