@{
    ViewData["Title"] = "Dashboard";
}

<div class="container-fluid mt-2">
    <div class="d-flex justify-content-end">
        <a asp-controller="CreateUser" asp-action="Index" class="btn btn-primary me-3">CREATE USER</a>
    </div>
</div>